#search {
    input, button {
        font-size: 1.1rem;
        padding: 5px;
    }    
    input {
        margin-right: 5px;
        border: none;
        border-bottom: 1px solid #9b9b9b;
    }
    button {
        background-color: #8A9EA0;
        color: white;
        border-radius: 5px;
        /* outline: none; */
        border: 1px solid transparent;
        &:active {
            border: 2px solid grey;
        }
    }
}

#text {
    text-align: center;
    margin: 20px 0px;
    #cta {
        color: #06a5db;
        font-size: 1.2rem;
        cursor: pointer;
        &:hover {
            color: #0a88b3
        }
    }
}

@media only screen and (max-width: 768px) { 
    button {
        display:block;
        margin-top: 5px;
    }
}